# rules for udev

SUBSYSTEM=="usb", ATTRS{idVendor}=="4242", MODE="0666"
SUBSYSTEM=="usb_device", ATTRS{idVendor}=="4242", MODE="0666"

SUBSYSTEM=="usb", ATTRS{idVendor}=="16d0", MODE="0666"
SUBSYSTEM=="usb_device", ATTRS{idVendor}=="d160", MODE="0666"